<div ng-hide="pst.postId">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#postEdit" ng-click="pst.CreateNewPost()">Add</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Title</th>
                <th>Content</th>
                <th>Category</th>
                <th>Created On</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in pst.dataPosts">
                <td>{{$index+1}}</td>
                <td><a href="#Post/{{p.Id}}">{{p.Title}}</a></td>
                <td >
                    <div style="text-overflow:ellipsis;width:250px;overflow:hidden;white-space: nowrap;">
                        {{p.PostBody}}
                    </div>
                </td>
                <td>
                    {{pst.GetCategoryName(p.CategoryId)}}
                </td>
                <td>{{p.CreatedOn | date : "medium"}}</td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#postEdit" ng-click="pst.SetCurrModel(p)">Edit</button></td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#postDelete" ng-click="pst.SetCurrModel(p)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="pst.postId">
    <dir-post post="pst.currentModel"></dir-post>
    <div class="row">
        <div class="col-sm-12">
            <a href="#Post" class="btn btn-primary pull-right">Back</a>
        </div>
    </div>
</div>

    <!-- Edit -->
<div id="postEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Category</h4>
            </div>
            <div class="modal-body">
                Title - <input type="text" class="form-control" ng-model="pst.newPostTitle" value={{pst.currentModel.Title}} />
                <br/>
                Category - <select ng-model="pst.newPostCatId" class="form-control">
                    <option ng-repeat="c in pst.dataCat" value="{{c.Id}}" ng-selected="c.Id==pst.currentModel.CategoryId">{{c.Name}}</option>
                </select>               
                <br />
                Post - <textarea style="height:100px" class="form-control" ng-model="pst.newPostBody" ng-value="pst.currentModel.PostBody"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="pst.SaveCurrModel()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Delete -->
<div id="postDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-danger">
                    <div class="panel-heading">Delete - {{pst.currentModel.Title}}</div>
                    <div class="panel-body">
                        <div class="text text-danger">
                            {{pst.currentModel.PostBody}}
                        </div>
                    </div> 
                    <div class="panel-footer">
                        <div class="text text-danger">
                            Are you sure you want to delete this category??
                        </div>
                    </div>                   
                </div>                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="pst.Delete()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>